version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: osint
      POSTGRES_USER: osint
      POSTGRES_PASSWORD: osint
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  api:
    build: ./backend
    environment:
      - DATABASE_URL=postgresql://osint:osint@db:5432/osint
      - CORS_ORIGIN=*
    volumes:
      - ./backend:/app
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - api

volumes:
  db_data:
