fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
fastapi-cors
httpx
pydantic-settings
fastapi-security
fastapi-pagination
fastapi-logger
fastapi-cache
python-dotenv
python-jose
passlib
python-multipart
google-generativeai
alembic
psycopg2-binary
